.panel {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.container {
    width: 500px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.done{
	text-decoration: line-through;
}

.remove{
	cursor: pointer;
}